<mat-toolbar *ngIf="!didFail" fxLayout fxLayoutAlign="center center" class="page-title" color="primary">
  <h1 class="mat-headline">Sign Up</h1>
</mat-toolbar>

<mat-toolbar *ngIf="didFail" fxLayout fxLayoutAlign="center center" class="page-title" color="warn">
    <h1 class="mat-headline">Something went wrong, please try again!</h1>
</mat-toolbar>

<form (ngSubmit)="onSubmit()" #usrForm="ngForm" fxLayout fxLayoutAlign="center stretch">
  <div fxFlex></div>

  <div fxFlex>
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <mat-form-field fxFlex>
        <input matInput
          type="text"
          id="username"
          name="username"
          ngModel
          placeholder="username"
          required>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput
          type="email"
          id="email"
          name="email"
          ngModel
          placeholder="email address"
          required>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput
          type="password"
          id="password"
          name="password"
          ngModel
          placeholder="password"
          required>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          ngModel
          placeholder="confirm password"
          required>
      </mat-form-field>
      <div *ngIf="usrForm.value.password !== usrForm.value.confirmPassword">Passwords do not match!</div>
      <button
        mat-raised-button
        type="submit"
        [disabled]="(usrForm.value.password !== usrForm.value.confirmPassword) || usrForm.invalid">
        Submit
      </button>
    </div>
  </div>

  <div fxFlex></div>
</form>

<div class="loader" *ngIf="isLoading"></div>

<div class="spacer"></div>

